<mat-toolbar>
    <nav>
        <span>
            <img src="assets/logo_vermelha.png" alt="logo_vermelha">
        </span>
        <button mat-button>Home</button>
        <button mat-button>Produtos</button>
        <button mat-button>Sobre-nós</button>
        <button mat-button>Contato</button>
        
    </nav>
    
</mat-toolbar>

<!--
    
    <header id="header" class="container header">
        <nav class="menu nav">
          <div class="divDaLogo">
            <img src="assets/img/Logo-Ecommerce/logo_vermelha.png" alt="logo" class="logoEcommerce">
          </div>
    
          MENU RESPONSIVO DENTRO DO HAMBURGUE 
          <ul class='list menuMobile' id="menuMobile" role="menuMobile">
            <li id="active-link-menu"><a href="/index.html">Home</a></li>
            <li><a href="/produtos.html">Produtos</a></li>
            <li><a href="javascript:void(0)">Sobre-nós</a></li>
            <li><a href="javascript:void(0)">Contatos</a></li>
          </ul>
       
-->

<!--
    <div class="container">
    <img src="assets/logo_vermelha.png" alt="logo_vermelha">

 <div>
    <button mat-button color="warn">Warn</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button color="warn">Warn</button>
 </div>

</div>
-->
